section.work-hero.section
  .row
    .five.columns.text-column
      h1: != title
      h4: != tagline
      div.my-role
        p: != roles
    .four.columns.offset-by-three
        img(src="/images/#{logoImage}")
//- section.work-hero(style="background-image: url( /images/hero-images/#{ hero-image } )")
//-   .row
//-     h1
//-       != title
//-     h4
//-       != tagline
//-     div.my-role
//-       h6.role-header My role
//-       != roles


