!= partial("_header")
//- section#work-background.section
//- 	.row
//- 		.five.columns
//- 			h3 Sales is all about connecting with people.
//- 			p But up to 40% of a rep's day-to-day work is admin work - logging activities, updating Salesforce, and reporting to managers.  Managers need the reporting, but it gets in the way of closing deals. 
//- 		.six.columns.offset-by-one
//- 			p What if there was a way to erase all that work, <em>and</em> keep the business happy?
section#work-branding.section
	.row
		.six.columns.offset-by-three
			h6 Branding &amp; type
			h2 "We don't want to feel like B2B software"
			p Sales tools are all stuffy and professional.  We wanted to come across as approachable, friendly, and fun.
			
	.row.pattern-typography-examples.pd-t-md
		//- .five.columns.box
		//- 	img(src="/images/pattern/type-specimen.png")
		.eight.columns.offset-by-one
			ul.pattern-swatches
				li.swatch(data-color="#52BFF2"): span #52BFF2
				li.swatch(data-color="#61D8AD"): span #61D8AD
				li.swatch(data-color="#232F35"): span #232F35
				li.swatch(data-color="#F5F8FA"): span #F5F8FA
				li.swatch(data-color="#EEE313"): span #EEE313
				li.swatch(data-color="#FF472B"): span #FF472B
	.row.pattern-illustrations
		.one-third.column
			img(src="/images/pattern/pattern_illo_1.png")
		.one-third.column
			img(src="/images/pattern/pattern_illo_2.png")
			p.caption.centered We wanted to emit a fun, personal, and young vibe
		.one-third.column
			img(src="/images/pattern/pattern_illo_3.png")


section#work-notepad.section
	.row
		.four.columns.offset-by-one
			h6 Core product
			h2 One kickass notepad, with an ace in the hole
		.four.columns.offset-by-one
			p Take notes like always, and sync straight back to Salesforce. Change any field in Salesforce right there.
	.row
		.twelve.columns
			img(src="/images/pattern/notepad_macbook.png")
section#work-rightpanel.section
	.row
		.five.columns
			div(style="background-color: #fabada; min-height: 100px")
		.four.columns.offset-by-two
			h2 Full context into your sales process, all the time.
section#work-rightpanel.section
	.row
		.five.columns
			div(style="background-color: #fabada; min-height: 100px")
		.four.columns.offset-by-two
			h2 Full context into your sales process, all the time.


//- section#work-context.section
//- 	.row
//- 		.six.columns
//- 			h6 Animated thing of
//- 			ul
//- 				li Right panel
//- 		.five.columns.offset-by-one
//- 			h2 All the context you need while on the call.
//- 			p Take notes like always, and sync straight back to Salesforce. Change any field in Salesforce right there.
//- != partial("_more-projects")


