!= partial("_header")
section#disclaimer.section
  .row.centered
    .eight.columns
      h4.pd-b-md I am an avid prototyper and love being involved in the Framer.js <a href="//www.facebook.com/groups/framerjs/" target="_blank">Facebook</a> and <a href="//framer-slack-signup.herokuapp.com/" target="_blank">Slack</a> communities.
      p I believe that collaborating in the design community is essential, so I try to help anyone

section#framer-dragdrop-examples.section
  .row.align-items-center.reverse
    .six.columns.pd-t-md
      video(id="framerTrelloVideo" width="622" preload="auto" autoplay loop)
          source(src="/images/framer/column-sorting.mp4" type="video/mp4")
    .five.columns.m-r-one-column
      h3 Drag &amp; drop examples
      p.pd-b-md I began multiple experiments to showcase different drag &amp; drop paradigms for other designers to learn from.  The most thorough was a Trello-style layout.
      p:  a(href="https://framer.cloud/PnkVN" target="_blank") View Framer file

section#framer-module.section
  .row.align-items-center
    .five.columns
      h3 Autogrow module
      p.pd-b-md I created a custom module to autogrowing textareas to encourage desktop prototyping in Framer.
      p: a(href="//github.com/blaineb/framer-AutoGrowInput" target="_blank") View on Github
    .five.columns.m-l-two-columns.framer-module-image
      img(src="/images/framer/framer-module-long.jpg")

section#examples.section
  .row.centered
    .six.columns.pd-b-lg
      h3 I make a lot of examples to help other designers
      p Here are a few of my favorites
  .row
    a.one-third.column.image-links(href="//framer.cloud/kPNtW/" target="_blank")
      img(class="album-cover" src="/images/framer/framer-example-digicodes.png")
      .image-link-text
        h3 Card stacking
        p Reverse-engineered by request
    a.one-third.column.image-links(href="//framer.cloud/lZJkO/" target="_blank")
      img(class="album-cover" src="/images/framer/framer-example-speeddial.png")
      .image-link-text
        h3 Speed dial
        p Using JSON for dynamic layouts
    a.one-third.column.image-links(href="//framer.cloud/zGRsp" target="_blank")
      img(class="album-cover" src="/images/framer/framer-example-ipose.png")
      .image-link-text
        h3 iPose
        p Swiping down from fullscreen view
      


