doctype html
head
	// Basics
  meta(charset='utf-8')
  title Blaine Billingsley &mdash; Interaction Designer
  meta(name='description', content='')
  meta(name='author', content='')
  
  // Mobile
  meta(name='viewport', content='width=device-width, initial-scale=1')
  
  // Font, if you want it.
  // link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
  
  // CSS
  link(rel='stylesheet', href='css/normalize.css')
  link(rel='stylesheet', href='css/billingsley.css')
  
  // Favicon
  link(rel='icon', type='image/png', href='images/favicon.png')

  body
    != yield