////////////////////////////////////////////////////////////////////////////////
// Basics
////////////////////////////////////////////////////////////////////////////////

html {
	font-size: 62.5%; } /* 1.0rem = 15px  */
body {
	-webkit-font-smoothing: antialiased;
	font-size: 1.6em;
	line-height: 1.4;
	font-weight: 400;
	font-family: "Graphik", "New Century Schoolbook", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999999;
	}
img { max-width: 100%; }
.wrapper { z-index: 100; background-color: white; position: relative; margin-bottom: 480px; }
//margin-bottom: 480px;

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	font-family: "Graphik", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  color: #323337;
   }
h1 { font-size: 4.0rem; line-height: 1.2;  font-weight: 500; letter-spacing: -.2rem;}
h2 { font-size: 3.2rem; line-height: 1.25; margin-bottom: 24px; letter-spacing: -.15rem; }
h3 { font-size: 2.0rem; line-height: 1;  font-weight: 500; padding-bottom: 8px  }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: 0; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; color: #bbbbbb; }


@media (max-width: 550px) {
  body { font-size: 1.4em; }

  h1 { font-size: 4.0rem; }
  h2 { font-size: 2.8rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.4rem; }
  h6 { font-size: 1.2rem; }
}

////////////////////////////////////////
// Section headers
////////////////////////////////////////
.section-header { 
  position: relative;
  text-align: center;
}

.section-header h6 {
  background-color: white;
  display: inline-block; 
  padding: 0 16px;
}

.section-header::before {
  background-color: #ededed;
  content: '';
  height: 1px;
  left:0;
  position: absolute;
  right: 0;
  top: .6em;
  z-index: -1;
}

p { margin: 0; }

a, a:visited {
	text-decoration: none;
  color: #1EAEDB; }

a:hover {
  color: #0FA0CE; }


////////////////////////////////////////////////////////////////////////////////
// Layout
////////////////////////////////////////////////////////////////////////////////

// Basic layout
// section
//  .row
//    .columns

.section { padding: 80px 0; }

@media (min-width: 550px) {
  section { padding: 180px 0; }
}

.row {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}



.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }
.float-right .column, .float-right .columns {
  float: right; 
}

/* For devices larger than 550px */
@media (min-width: 769px) {
  .row {
    max-width: 1140px;
    padding: 0 48px;
  }
  #works .row, 
  #footer .row { 
    max-width: 960px;
  }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .float-right .column, .float-right .columns {
    margin-right: 4%;
    margin-left: 0;
  }
  .float-right .column:last-child,
  .float-right .columns:last-child {
    margin-right: 0;
  }

  .article.one-half.column:nth-child(odd) { margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }


  .flex-align-center { display: flex; align-items: center; }

}





////////////////////////////////////////////////////////////////////////////////
// Homepage style
////////////////////////////////////////////////////////////////////////////////

// Hero section for the homepage
.hero-text {
	text-transform: uppercase;
	padding: 240px 0;
  background-color: #f8f8f8;
}

#hi h1, #hi h4 {
	text-align: center;
	text-transform: uppercase;
}

#hi h1 { margin-bottom: 2rem; }
#hi h4 { text-transform: none; }


// Work articles on the homepage
.article { margin-bottom: 8%; }
.article img { border-radius: 2px; }
.article h3 { padding-top: 40px; }
.article h3 a, article h3 a:visited { color: #323337; }
.article h3 a:hover { color: #0FA0CE; }

// Image link component.  Used on homepage and Framer page.
.image-links { 
  position: relative;
  transition: opacity .3s cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
.image-links img { border-radius: 3px; margin: 0; float: left;}
.image-link-text { 
  position: absolute;
  left:0; right: 0;
  top: 0; bottom: 0;
  background-color: rgba(0,0,0,.3);
  display: flex; 
  border-radius: 3px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
}
.image-link-text h3,
.image-link-text p { 
  transform: translateY(24px);
  transition: all .3s cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
.image-link-text p { color: rgba(255,255,255,.7); opacity: 0; }
.image-link-text h3 { color: white; }
.image-links:hover { opacity: .8; }
.image-links:hover .image-link-text h3,
.image-links:hover .image-link-text p { transform: translateY(0); opacity: 1; }
// Thumbnails in the article.
.thumbnail-wrapper {
	display: block; 
	border-radius: 2px;
	background-color: #fabada;
	position: relative;
	overflow: hidden;
  transition: opacity .2s cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.thumbnail-wrapper .thumbnail { 
  float: left;
	transform: translateY(4px);
  transition: all .2s cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
.thumbnail-wrapper:hover { opacity: .8; }

.thumbnail-wrapper:hover .thumbnail {	transform: translateY(0px); }


////////////////////////////////////////
// Other sections on the homepage
////////////////////////////////////////

// #about { padding-bottom: 240px; }
// .footer-scrim {
// 	height: 480px;
// }



////////////////////////////////////////
// Footer
////////////////////////////////////////
#footer {
	background-color: #6BCC90;
	// padding: 240px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
  display: flex;
  align-items: center;
  height: 480px;
  box-sizing: border-box;
}

////////////////////////////////////////////////////////////////////////////////
// Work pages
////////////////////////////////////////////////////////////////////////////////

.work-hero { background-color: #f9f9f9; padding: 80px 0; }
.work-hero .row { display: flex; align-items: center;}
.my-role { padding-top: 24px; }


// Small screen overrides
@media (max-width: 768px) {
  .work-hero { padding: 20px 0; }
  .work-hero .row { display: flex; flex-direction: column-reverse; }
  .work-hero .logo-column { margin-left: 0; }
  video { max-width: 100%; margin: 0 auto; display: block; }
  .white-video-scrim:after, .grey-video-scrim:after {
    bottom: -1px!important;
  }
}


.box {
  background-color: #f9f9f9;
  padding: 32px;
}

ul.pattern-swatches { list-style-type: none; display: flex; flex-wrap: wrap; margin: 0; padding: 40px 0 80px ; }
.pattern-swatches li {
  flex: 20%;
  flew-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10%;
  min-height: 120px;
  max-height: 220px;
  color: rgba(255,255,255,.7);
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 3px;
  position: relative;
  margin-left: 16%;
}
.pattern-swatches li:before { 
  content: '';
  display: block;
  position: absolute;
  // background-color: #fabada;
  height: 50%;
  bottom: 0;
  left: 10%;
  width: 80%;
  margin: 0 auto;
  z-index: -1;
  // box-shadow: 0 0px 32px rgba(0,0,0,.15);
}
.pattern-swatches li span { display: block; padding: 12px 12px; background-color: rgba(0,0,0,.1); border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; margin-top: 120%; }
.pattern-swatches li:nth-child(3n+1) {  margin-left: 0; top: 80px;}
.pattern-swatches li[data-color="#232F35"] span { background-color: rgba(255,255,255,.1) }
.pattern-swatches li[data-color="#F5F8FA"] span { background-color: rgba(0,0,0,.05); color: rgba(0,0,0,.3) }
  
.pattern-illustrations .column { padding: 0 32px; }
// @media (min-width: 550px) {
//   .mobile-only { display: none; }
//   .work-hero .image-wrapper { position: absolute; top: -150px; }
//   .work-hero video { display: block; }
//   .sticky { padding-top: 48px;}
//   .sticky.is_stuck { position: fixed; }
// }


////////////////////////////////////////
// Inbox specific stuff
////////////////////////////////////////

// #inbox-hero-intro .text-column { padding-top: 64px;}
// .video-column { position: relative; min-height: 300px}
// Hide the
// .work-hero video { display: none; }


////////////////////////////////////////////////////////////////////////////////
// Utilities
////////////////////////////////////////////////////////////////////////////////

/* Self Clearing Goodness */
.thumbnail-wrapper:after,
.container:after,
.row:after,
.album-links:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

// pd = padding, b = bottom
.pd-b-sm { padding-bottom: 24px; }
.pd-b-md { padding-bottom: 56px; }
.pd-b-lg { padding-bottom: 80px; }
.pd-b-xl { padding-bottom: 180px; }
.pd-t-sm { padding-top: 24px; }
.pd-t-md { padding-top: 56px; }
.pd-t-lg { padding-top: 80px; }


p.caption {
  font-size: 1.2rem;
}
.centered { text-align: center; }
.pattern-illustrations { padding-top: 80px; padding-bottom: 80px; }
.pattern-illustrations .caption { padding-top: 40px; }

#work-notepad {
  // background-color: #61D8AD; 
  // color: white;
  padding-bottom: 0;
}

.white-video-scrim, .grey-video-scrim { position: relative; }
.white-video-scrim:after, .grey-video-scrim:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: white;
}
.grey-video-scrim:after { background-color: #f9f9f9; }



#inbox-speed-dial { background-color: #f9f9f9; }
.social-links { display: flex; justify-content: space-between; }
.social-links .ic {
  display: block;
  width: 48px;
  height: 48px;
  overflow: hidden;
  text-indent: -10000px;
  border-radius: 50%;
  background-size: 48px 48px;
  opacity: .9; 
}
.social-links .ic:hover { background-color: rgba(255,255,255,.15); opacity: 1; }
.ic.bandcamp  { background-image: url(../images/ic_bandcamp.png) }
.ic.dribbble  { background-image: url(../images/ic_dribbble2.png) }
.ic.youtube   { background-image: url(../images/ic_youtube.png)  }
.ic.github    { background-image: url(../images/ic_github.png) }

.email-me a { color: white; transition: border-color .2s cubic-bezier(0.26, 0.86, 0.44, 0.985); padding:0 4px 4px; }
.email-me a { border-bottom: 3px solid rgba(255,255,255,.7); position: relative; display: inline-block; }
.email-me a:before {
  content: '';
  display: block;
  bottom: 0;
  height: 0px;
  position: absolute;
  left: 0;
  right: 0;
  transition: height .2s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  background-color: rgba(255,255,255,.12); }
.email-me a:hover { border-color: white; }
.email-me a:hover:before { height: 30px; }
// a.underline { border-bottom: 2px solid rgba(255,255,255)}

.logo-column {
  box-sizing: border-box;
  padding: 32px;
}
#inbox-conversations,  { padding-bottom: 40px; }
#framer-dragdrop-examples {
  background-color: #74D3FD; 
  color: white;
}
#framer-dragdrop-examples h3 { color: inherit; }

#framer-dragdrop-examples a { color: rgba(255,255,255,.7); font-weight: 500; }
#framer-dragdrop-examples a:hover { color: white; }
.framer-module-image { display: block; position: relative; min-height: 600px; }
.framer-module-image img { 
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: none; 
  max-height: 600px; 
}
// .framer-module-image:after {
//   content: '';
//   display: block; 
//   position: absolute; 
//   right: 0;
//   height: 100%;
//   background-image: url(/images/framer/framer-module-shim.png);
// }
#framer-module { background-color: #f2f2f2; }
#framerTrelloVideo { max-width: 100%; }
